@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

html,
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFF;
    background: linear-gradient(0deg, #9F2828, #2f0808);
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-size: 80px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 600;
    margin: 0;
    color: white;
}

h2 {
    font-size: 36px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 200;
    margin: 0;
    color: #151515
}

h3 {
    color: white;
    font-size: 24px;
    font-family: 'Poppins', Arial, sans-serif;
}

.button--container {
    display: flex;
}

.button--container * {
    flex-basis: 100%;
}

.centered {
    text-align: center;
}

.centered input,
.centered select {
    margin: 0 10px;
}

.input--group {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
}

.result--buttons {
    display: flex;
    flex-direction: row;
}

.result--buttons input {
    background-color: rgb(70, 26, 26);
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin: 20px;
    padding: 25px;
    min-width: 200px;
    border: 1px solid rgb(207, 207, 207);
}

.bg-red {
    background-color: #F75261;
}

.bg-lightblue {
    background-color: #52C6F7;
}

.bg-green {
    background-color: #52F56C;
}

.bg-orange {
    background-color: #EDA84E;
}

.bg-purple {
    background-color: #8B55E0;
}

.bg-white {
    background-color: #fff;
}

.grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    height: 30%;
    margin: auto;
}

.match--grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(30, 1fr);
    height: 55%;
    margin: auto;
    /* overflow-x: hidden; */
    overflow-y: hidden;
}

.match--card {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr;
    background: linear-gradient(0deg, #151515, #333);
    border: 2px #666 solid;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
}

.match--card img {
    margin: auto;
}

.match--stat {
    display: flex;
    margin: 0 20px;
    color: #c9f095;
}

.match--stat h3, .match--stat p {
    flex: 1;
    margin: auto 0;
}

.match--stat h3 {
    font-size: 16px;
}
