@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

html,
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFF;
    /* background: linear-gradient(0deg, #9F2828, #2f0808);*/
    background-image: url('/storage/backgrounds/apex-blank.png');
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-size: 80px;
    font-family: 'Blocktastic', Arial, sans-serif;
    font-weight: 600;
    margin: 0;
    color: #3b3b3b;
}

h2 {
    font-family: 'Blocktastic', Arial, sans-serif;
    font-weight: 600;
    color: #3b3b3b
}

h3 {
    font-family: 'Blocktastic', Arial, sans-serif;
    margin: 0;
    color: #3b3b3b
}

.flex--container {
    display: flex;
    flex-direction: column;
}

.centered-text {
    text-align: center;
}

.image--centered {
    margin: auto;
    width: 50%;
}

.button--container {
    display: flex;
}

.button--container * {
    flex-basis: 100%;
}

.centered input,
.centered select {
    margin: 0 10px;
}

.input--group {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 10px;
    flex-direction: row;
    align-items: center;
    margin: 25px auto;
    padding: 10px;
}

.result--buttons {
    display: flex;
    flex-direction: row;
    min-height: 125px;
}

.result--buttons input {
    font-weight: 400;
    font-family: 'Blocktastic', Arial, sans-serif;
    font-style: italic;
    font-size: 20px !important;
    background-color: transparent;
    margin: 10px;
    padding-bottom: 10px;
    min-width: 200px;
    border: 5px solid #545557;
    transition: background-color 0.25s, color 0.25s, border 0.25s, font-size 0.25s;
    font-size: 25px;
    font-weight: 300;
    color: #64686b;
    border-radius: 0;
}

.result--buttons input:hover {
    background-color: rgb(255, 255, 255);
    color: #ff4343;
    border: 2px solid #545557;
}

.bg-red {
    background-color: #F75261;
}

.bg-lightblue {
    background-color: #52C6F7;
}

.bg-green {
    background-color: #52F56C;
}

.bg-orange {
    background-color: #EDA84E;
}

.bg-purple {
    background-color: #8B55E0;
}

.bg-white {
    background-color: #fff;
}

.grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    height: 30%;
    margin: auto;
}

.match--grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(30, 1fr);
    height: 55%;
    margin: auto;
    /* overflow-x: hidden; */
    overflow-y: hidden;
}

.match--card {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr;
    background: linear-gradient(0deg, #151515, #333);
    border: 2px #666 solid;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
}

.match--card img {
    margin: auto;
}

.match--stat {
    display: flex;
    margin: 0 20px;
    color: #c9f095;
}

.match--stat h3,
.match--stat p {
    flex: 1;
    margin: auto 0;
}

.match--stat h3 {
    font-size: 16px;
}
